/* Selector[
propiedad: valor;
propiedad: valor;
}
*/
/* Importamos la etiqueta con el tipo de Font desde desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

p{
    color:blue;
    font-family: 'Kenia', sans-serif;
}


h2{/* Selector Global */
    color: red;
    font-size: 45px;
    background-color: aquamarine;
    /* text-align: center; */
}
/* Selector de Clase */
.soloYo{
    text-align: right;
}
/* Selector por ID */
#miParrafo{
    margin-top: 80px;
}

.miColor{
    color: rgb(224, 93, 93);
}

h1{
    border-top: solid 5px black;
    border-right: dashed 8px blue;
    border-bottom: solid 10px gray;
    border-left: dotted 12px rgb(20, 128, 68);
    /* Relleno */
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 50px;
    padding-bottom: 25px;

    margin-top: 80px;
    margin-right: 100px;
    margin-bottom: 80px;
    margin-left: 100px;
}

.centrar{
    text-align: center;
}

.otroParrafo{
    font-size: 25px;
}

/* ul{
    text-align: center;
} */

ul li{
    list-style-type: none;
    display: inline-block;
    margin: 15px;
    padding: 25px;
    border: 1px solid black;
    background-color: azure;
}

a{
    text-decoration: none;
}